
<h2>Welcome {{user}}</h2>

<h3>A Few Fargo Fun Facts</h3>

<p>Did you know that Fargo, North Dakota...</p>

<ol>
  <li>was founded in 1871 on the Red River.</li>
  <li>is the most populous city in the state of North Dakota</li>
  <li>as of the 2017 Census, Fargo's population was 122,359, making it the 225th-most populous city in the U.S.</li>
  <li>Forbes magazine ranked Fargo as the fourth fastest-growing small U.S. city in 2014.</li>
</ol>

<form action='/logout' method='post'>
   <p><input type='submit' value = "Log Out">
</form>