<h2>Welcome {{user}}</h2>
<h3>Joke of the Day</h3>
<p>{{joke}}</p>
<p>If you were younger than {{age}} old, we would display less sophisticated jokes.</p>

<form action='/logout' method='post'>
   <p><input type='submit' value = "Log Out">
</form>
