
<h3>Welcome to Our Site</h3>
<p>To get the full benefit our our site, please enter your name and age.</p>

<form method='post' action='/getUserData'>
   <p><input type='text' name='name'> Enter your first name </p>
   <p><input type="number" name="age" min="3" max="105"> Please enter your age</p>
   <p><input type='submit'></p>
</form>


